/* Root Styles */

:root {
  --color-primary: #333333;
  --color-header: #211a1a;
  --color-highlight: #db314e;
  --color-secondary: #77eff7;
  --color-tercery: rgb(176, 175, 175);

  --font-standard: "Helvetica", "Arial", sans-serif;
}
q
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Keyframes */

  @keyframes bounce {

    0%{
      opacity: 0;
      transform: translateY(-2000px);
      }
    60%{
      opacity: 1;
      transform: translateY(0px);
      }
    80%{
      transform: translateY(20px);
      }
    100%
    {
      transform: translateY(0);
      }
  }

@media screen and (max-width: 768px) {
  /* Element-Level Styling */

  html {
    font-size: 16px;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  h1,
  h2,
  h3 {
    color: var(--color-header);
    font-style: var(--font-standard);
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
   font-size: 1.2em;
   line-height: 1.4;
  }

  header {
    opacity: 0;
    position: fixed;
    transition: 1s ease;
    padding: 1em;
    transform: translateY(-100vh);
    border-radius: 8px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
  }

  section {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  footer > p {
    font-size: 0.5em;
  }

  footer > h3 {
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0.75em;
  }

  /* Body-Level Styling */

  .opening-banner {
    display: none;
  }

  .mobile-menu-button {
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    top: 28px;
    left: 24px;
    width: 48px;
    height: 48px;
    background-color: var(--color-tercery);
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 1000;
  }

  .mobile-menu-button:hover {
    background-color: var(--color-secondary);
    opacity: 1;
  }

  .mobile-menu-div {
    width: 42px;
    height: 4px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    transition: 0.3s ease;
  }

  .mobile-menu-button:hover .mobile-menu-div {
    background-color: var(--color-highlight);
  }

  .mobile-menu-button.active div:nth-child(1) {
    transform: translate(-6px, -2px) rotate(-45deg);
    transform-origin: right;
  }

  .mobile-menu-button.active div:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu-button.active div:nth-child(3) {
    transform: translate(-6px, 2px) rotate(45deg);
    transform-origin: right;
  }

  /* Header Styling */

  header.active {
    position: static;
    opacity: 0.7;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--color-secondary);
    transition: 1s ease;
    transform: translateY(0);
  }

  header.active > h1 {
    opacity: 1;
    writing-mode: vertical-lr;
    text-orientation: upright;
    flex-grow: 1;
  }

  header.active > nav {
    align-self: flex-start;
    margin-top: 10em;
    display: flex;
    justify-content: center;
    flex-grow: 2;
    padding: 0;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-basis: 1;
    margin: 0;
    row-gap: 1.5em;
  }

  .menu-list > li {
    font-size: 1.5em;
  }

  .menu-list > li:hover {
    cursor: pointer;
    color: var(--color-highlight);
    transition: 0.3s ease;
    font-style: var(--font-standard);
    font-weight: bold;
  }

  /* Main Level Styling */

  .hero-section.active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
  }

  .hero-section > h2 {
    text-align: right;
    font-size: 2em;
    margin-right: 8px;
  }

  .profile-picture {
    object-fit: scale-down;
    max-width: 100%;
    border-radius: 4px;
  }

  .projects-section.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 8em;
  }

  .contact-section.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 8em;
    height: 100vh;
  }

  /* Keyframes */

  @keyframes bounce {
  0%{
    opacity: 0;
    transform: translateY(-2000px);
   }
  60%{
    opacity: 1;
    transform: translateY(0px);
    }
  80%{
    transform: translateY(20px);
    }
  100%
  {
    transform: translateY(0);
    }
  }
}
